absl-py==2.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
astunparse==1.6.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
bitarray==2.8.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
bitstring==4.1.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
bleak-winrt==1.2.0 ; platform_system == "Windows" and python_version < "3.12" and python_version >= "3.11.dev0"
bleak==0.21.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cachetools==5.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
certifi==2023.11.17 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
charset-normalizer==3.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
contourpy==1.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cycler==0.12.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
dbus-fast==2.15.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system == "Linux"
enum-compat==0.0.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
flatbuffers==23.5.26 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
fonttools==4.46.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
gast==0.5.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
google-auth-oauthlib==1.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
google-auth==2.24.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
google-pasta==0.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
grpcio==1.59.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
h5py==3.10.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
idna==3.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
joblib==1.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
keras==2.15.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
kiwisolver==1.4.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
libclang==16.0.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
markdown==3.5.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
markupsafe==2.1.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
matplotlib==3.8.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ml-dtypes==0.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
muselsl==2.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
numpy==1.23.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
oauthlib==3.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
opt-einsum==3.3.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
packaging==23.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pandas==2.1.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pexpect==4.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pillow==10.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
protobuf==4.23.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ptyprocess==0.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyasn1-modules==0.3.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyasn1==0.5.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pygatt==4.0.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pylsl==1.16.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyobjc-core==9.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system == "Darwin"
pyobjc-framework-cocoa==9.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==9.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system == "Darwin"
pyobjc-framework-libdispatch==9.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system == "Darwin"
pyparsing==3.1.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyqt5-sip==12.13.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyqt5==5.15.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyserial==3.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dateutil==2.8.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pytz==2023.3.post1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
requests-oauthlib==1.3.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
requests==2.31.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
rsa==4.9 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
scikit-learn==1.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
scipy==1.11.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
seaborn==0.13.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
setuptools==69.0.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
six==1.16.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tensorboard-data-server==0.7.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tensorboard==2.15.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tensorflow-estimator==2.15.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tensorflow-io-gcs-filesystem==0.34.0 ; python_version >= "3.11.dev0" and python_version < "3.12"
tensorflow==2.15.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
termcolor==2.4.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
threadpoolctl==3.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
typing-extensions==4.8.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tzdata==2023.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
urllib3==2.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
werkzeug==3.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
wheel==0.42.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
wrapt==1.14.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
